@charset "UTF-8";

* {
    padding: 0px;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 1.5em;
}
menu {
    display: none;
}
p {
    text-indent: 20px;
}
article::after {
    content: 'Esse artigo foi impresso atravez do site www.randerinforma.com';
}